.white-text {
color: white;
}

.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 95px 50px 95px 52px;
font-size: 18px;
font-weight: 400;
font-style: normal;
}

.header__logo {
display: block;
}

.header__logo-image {
display: block;
width: 148px;
height: 105px;
}

.menu {
font-weight: normal;
font-size: 18px;
}

.menu-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 13px;
align-self: center;
}

.menu-list li {
position: relative;
}

.link-underline {
text-decoration: underline;
text-underline-offset: 4px;
text-decoration-thickness: 0.5px;
}

.menu-list li.with-marker::before {
content: '';
display: inline-block;
width: 6px;
height: 6px;
border-radius: 50%;
box-shadow: 0 0 0 0.5px black;
margin-right: 8px;
vertical-align: middle;
}

.header__link {
text-decoration: none;
color: black;
}

.header__link_active {
text-decoration: underline;
}

.header__address {
/* max-width: 240px; */
justify-self: start;
font-style: normal;
padding-left: 184px;
}

.header__phone,
.header__email {
display: block;
text-decoration: underline;
text-underline-offset: 4px;
}

.header__address-text {
margin-top: 4px;
}

.cover {
display: block;
position: relative;
background-image: url("/images/cover.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-bottom: 180px;
height: 757px;
}

.overlay {
position: absolute;
inset: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 0;
}

.aligned-text {
display: grid;
grid-template-areas:
"top-left"
"center"
"bottom-right";
position: relative;
z-index: 2;
font-size: 100px;
text-transform: uppercase;
padding: 165px 50px 105px;
}

.aligned-text_left {
grid-area: top-left;
justify-self: start;
align-self: start;
/* padding-bottom: 20px; */
}

.aligned-text_center {
grid-area: center;
justify-self: center;
align-self: center;
padding: 20px;
}

.aligned-text_right {
grid-area: bottom-right;
justify-self: end;
align-self: start;
}

.letter-spacing-extended {
letter-spacing: 0.3em;
}

.no-letter-spacing {
letter-spacing: 0;
}

.cover__description {
display: flex;
justify-content: space-between;
width: 100%;
position: relative;
z-index: 2;
padding: 0 50px 61px 50px;
text-transform: uppercase;
font-weight: 400;
letter-spacing: 0;
align-items: center;
}

.cover__description-text {
display: flex;
font-size: 22px;
color: #fff;
word-spacing: 20px;
}

.space-23 {
width: 23px;
}

.letter-spacing-90 {
letter-spacing: 0.9em;
}

.letter-spacing-110 {
letter-spacing: 1.1em;
}

.bet-button {
background: transparent;
border: 1px solid #fff;
color: #fff;
padding: 12px 32px;
font-size: 22px;
text-transform: uppercase;
font-weight: 500;
}

.lots {
padding: 0 24px;
margin-bottom: 120px;
}

.lots__heading {
font-size: 40px;
margin-bottom: 27px;
text-transform: uppercase;
padding-left: 40px;
}

.lots__card-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
gap: 25px;
}

.lots__card-list-item {
width: 334px;
min-height: 596px;
}

.card-link {
display: block;
height: 100%;
text-decoration: none;
}

.card {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
padding: 48px 40px;
background-size: cover;
background-position: center;
}

.card__title {
position: relative;
z-index: 2;
text-decoration: underline;
font-size: 22px;
font-weight: bold;
text-transform: uppercase;
}

.card__text {
position: relative;
z-index: 2;
font-size: 20px;
}

.card_type_film {
background-image: url('/images/card-lot-01.jpg');
}

.card_type_book {
background-image: url('/images/card-lot-02.jpg');
}

.card_type_picture {
background-image: url('/images/card-lot-03.jpg');
}

.lots__look-more-link {
display: inline-block;
margin-top: 30px;
padding-left: 40px;
text-decoration: underline;
text-underline-offset: 4px;
font-weight: 400;
font-size: 20px;
}

.about {
display: grid;
grid-template-columns: 240px 1fr;
gap: 72px;
align-items: center;
margin: 0 24px 180px;
padding: 35px 0 0 47px;
}

.about__column {
display: flex;
flex-direction: column;
align-self: flex-start;
justify-content: flex-start;
}

.about__logo {
width: 240px;
height: 240px;
border-radius: 50%;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

.about__logo-image {
width: 60%;
height: auto;
}
.right__column {
margin-top: 100px;
}

.about__title {
font-size: 40px;
text-transform: uppercase;
padding: 3px 0 0 0;
margin-bottom: 100px;
}

.about__text p {
font-size: 20px;
margin: 0;
}

.about__text p:first-child {
margin-bottom: 24px;
}

.footer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: start;
padding: 0 50px;
gap: 20px;
font-size: 18px;
}

.footer__address {
font-style: normal;
}

.footer__phone,
.footer__email {
display: block;
text-decoration: underline;
text-underline-offset: 4px;
}

.footer__menu {
text-align: center;
}

.footer__menu-list {
list-style: none;
margin: 0;
padding: 0;
}

.footer__menu-link {
text-decoration: underline;
text-underline-offset: 4px;
}

.footer__menu-link_active {
text-decoration: none;
}

.footer__social-list {
display: flex;
justify-content: flex-end;
list-style: none;
margin: 0;
padding: 0;
gap: 48px;
}

.footer__social-link {
display: block;
}

.footer__social-icon {
width: 48px;
height: 48px;
}
